* {
  font-size: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  width: 100%;
}

.col {
  width: 100%;
  padding: 5px;
}

.col-6 {
  width: 50%;
  padding: 5px;
}

.col-12 {
  width: 100%;
  padding: 5px;
}

.center {
  justify-content: center;
}

div {
  margin: 5px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
}
