#root {
  color: darkslategray;
}

.center {
  text-align: center;
}

/* .bold {
  font-weight: 900;
} */

#bold {
  font-weight: 900;
}

table {
  border-collapse: collapse;
}

p[value="20"] {
  background-color: green;
}

input[type="date"] {
  background-color: green;
}

td,
th {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 10px;
}

td,
th {
  border-style: dotted;
  border-color: black;
  border-width: 1px;
  padding: 10px;
}

#grid {
  margin: 50px 50px 50px 40%;
}
