.table {
  border-collapse: collapse;
}

.table-container {
  padding: 10px;
}

/* td,
th {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 10px;
} */

.border {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 10px;
}

.border-collapse {
  border-collapse: collapse;
}
